:root {
  /* either --dark-mode or --no-dark-mode */
  --color-scheme: var(--dark-mode);

  --font-family: "Space Grotesk", sans-serif;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fw-regular: 400;
  --fw-semi-bold: 500;

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(270, 3%, 87%);
  --clr-neutral-300: hsl(279, 6%, 55%);
  --clr-primary-400: hsl(249, 99%, 64%);
  --clr-primary-500: hsl(278, 94%, 30%);
  --clr-primary-800: hsl(278, 68%, 11%);
  --clr-accent-400: hsl(0, 100%, 66%);
  --gradient-1: var(--clr-primary-400, --clr-primary-500);

  /* settings */
  --no-dark-mode: light;
  --dark-mode: dark light;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

html {
  color-scheme: var(--color-scheme);
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--fs-400);
  line-height: 1.6;
}
.content-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.mobile {
  display: none;
}
.form-container {
  border: 4px solid orangered;
  display: grid;
  place-content: center;
  /* min-width: 30rem; */
}
.form-container form {
  display: inherit;
  gap: 2rem;
}
.form-container button {
  width: 100%;
  background-color: var(--clr-primary-800);
  color: white;
}
.full-width input {
  width: 100%;
}
.background-container {
  border: 4px solid orangered;
}
.background-container img {
  z-index: -1;
}
.dates-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 4px solid greenyellow;
  gap: 1rem;
}
.exp-date-container input {
  width: 5rem;
  /* max-width: 25rem; */
}
.card-previews {
  position: relative;
  z-index: 10;
}

.card-previews {
  border: 1px solid yellow;
  /* max-width: min-content; */
  /* width: min-content; */
  min-width: 30rem;
}
img {
  max-width: 100%;
}
.card-front__number {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.header ul {
  display: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
