* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  place-content: center;
  height: 100vh;
  background: hsl(30, 38%, 92%);
}
.card {
  --border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  width: 50rem;
  border-radius: var(--border-radius);
  background: #fff;
}
.image-container img {
  max-width: 100%;
  border-radius: 15px 0 0 15px;
  max-height: 100%;
}
.text-container {
  padding: 2rem;
  display: grid;
}
.text-container h2 {
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5rem;
  font-size: 1rem;
}
.text-container h1 {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.text-container p {
  color: hsl(228, 12%, 48%);
  line-height: 2rem;
}
.prices-container {
  display: flex;
  gap: 30px;
}
.prices-container :nth-child(1) {
  color: hsl(158, 36%, 37%);
  font-size: 3rem;
  font-family: "Fraunces", serif;
}
.prices-container :last-child {
  text-decoration: line-through;
}
button {
  background: hsl(158, 36%, 37%);
  border-radius: 15px;
  color: white;
  border-width: 0;
  font-size: 1.1rem;
  font-weight: 600;
  height: 3rem;
}
.icon {
  /* width: 2rem; */
  /* width: 20px; */
  /* height: 100%; */
}
.mobile {
  display: none;
}
@media (max-width: 800px) {
  .card {
    grid-template-columns: 1fr;
    width: 300px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile img {
    max-width: 100%;
    aspect-ratio: 16/9;
  }
  .text-container {
    /* margin: 10rem; */
    gap: 20px;
  }
  html {
    font-size: 12px;
  }
  body {
    height: 100vh;
    place-content: center;
  }
}
